{{#if editable }}
  <span class="editor-container">
    {{input type=type value=value  focus-out="stopEditing" placeholder=placeholder}}
  </span>
{{else}}
  <span class="value-container">
    {{#if value}}
      {{if (eq type "password") "******" value}}
    {{else}}
      DoubleClick to edit
    {{/if}}
  </span>
{{/if}}

{{yield}}
