<div class="main-panel">
  <div class="width">
    <h2>
      <button {{action "showFiltersPopover"}} id="todo-lists-filters" class="header-controls right  glyphicon glyphicon-filter"></button>
      All ToDo lists</h2>

    <div class="all-todo-lists">
      {{#each model as |list|}}
        {{#link-to "todo-lists.todo-list" list class=(concat "todo-list-preview style-" list.style)}}
          <span class="title">{{list.title}}</span>
          <span class="info">
            Entries: {{list.entries.length}}<br>
            Priority: {{list.priority}}
          </span>
        {{/link-to}}
      {{/each}}
      <button class="create-todo-list" {{action "createList"}}>+</button>
    </div>

    {{outlet}}
  </div>
</div>


{{#popover-menu rel="#todo-lists-filters" active=isFiltersPopoverActive position="south" orientation="left"}}
  <h3>Filters</h3>
  Coming soon
{{/popover-menu}}
