<div class="main-panel">
  <div class="width">
    <h2>
      {{#link-to "todo-lists" class="header-controls left  glyphicon glyphicon-circle-arrow-left" bubbles=false}}{{/link-to}}
      <button {{action "showConfigPopover"}}
id="todo-list-settings" class="header-controls right  glyphicon glyphicon-cog"></button>

      {{editable-label value=model.title editable=editableTitle placeholder="Title"}}
    </h2>

    <div class="todo-list style-{{model.style}}">
      <div class="todo-list-container">
        <form {{action "createListItem" on="submit"}}>
          {{input value=newListItemText class="new-todo-item-field"}}
        </form>

        <div class="entries">

          {{#each model.entries as |item|}}
            <div class="todo-list-item {{if item.completed "completed"}}">
              <div class="form-row">
                {{input type="checkbox" id=(concat "list" model.id "-item" item.id) checked=item.completed}}
                <label for="list{{model.id}}-item{{item.id}}">{{item.text}}</label>
              </div>
            </div>
          {{/each}}

        </div>

      </div>
    </div>

    {{outlet}}
  </div>
</div>



{{#if isConfigPopoverActive }}
  {{#tether-dialog
     close="showConfigPopover"
     hasOverlay=false
     clickOutsideToClose=true
     targetAttachment='bottom right'
     attachment='top right'
     target='#todo-list-settings' }}
    <h3>Background</h3>
    <div class="bg-chooser">
      {{#each-in listStyles as |ind style|}}
        {{#if (not (mod ind 3))}}
          <br>
        {{/if}}
        <button {{action "setStyle" style}} class="style style-{{style}} {{if (eq style model.style) "active"}}"></button>
      {{/each-in}}
    </div>
  {{/tether-dialog}}
{{/if}}
